@layer base {
    * {
        @apply border-border;
    }

    html {
        @apply scroll-smooth;
    }

    body {
        @apply bg-background text-foreground text-base;
        font-synthesis-weight: none;
        text-rendering: optimizeLegibility;
        &::-webkit-scrollbar {
            background-color: transparent;
            width: 6px;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            @apply bg-default-300;
        }
    }
}

@layer utilities {
    .container {
        margin-inline: auto;
        @apply px-[1rem] 2xl:px-[4rem];
    }
}
